* {
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

.memory-game {
    width: 630px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.memory-card {
    width: calc(200px);
    height: calc(150px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 200px;
    height: 150px;
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    background: #157fc4;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}