* {
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

.memory-game {
    width: 1040px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin: 20px auto 30% auto;
    padding-bottom: 50px;
}

.logo{
    text-align: center;
    margin-top: 50px;
}
.hrefs{
    display: flex;
    
    justify-content: center;
    margin-top: 10px;
}
.hrefs a{
    padding-right: 10px;
}
.memory-card {
    width: calc(250px);
    height: calc(135px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 250px;
    height: 135px;
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    background: #157fc4;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.card-footer {
    flex-shrink: 0;
}

.navbar {
    background: #157fc4;
}